@page "/"

<h1>Hello, North Pole! &#129482;</h1>

<h3>Upload a letter</h3>

<p>
    <InputFile OnChange="OnInputFileChange" />
</p>



@code{

    private async Task OnInputFileChange(InputFileChangeEventArgs inputArgs) {
        Console.WriteLine("Hello");
    }
}
